.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar-content {
  display: flex;
  align-items: center;
  width: 100%;

  &--title {
    flex: 1 0 auto;
  }
}

