@use '@angular/material' as mat;


@font-face {
  font-family: 'Inter';
  src: url(assets/fonts/Inter-Light.ttf) format('truetype');
  font-size: 14px;
}

.Inter {
  font-family: 'Inter';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, "Helvetica Neue", Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.full-width {
  width: 100%;
}

.w-500 {
  width: 500px;
}

.w-700 {
  width: 700px;
}

.heading-text {
  color: #051E48;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
}

.default-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #051E48B2;
}

.tiny-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  color: #051E48;


}



