@use '@angular/material' as mat;


@font-face {
  font-family: 'Inter';
  src: url(assets/fonts/Inter-Regular.ttf) format('truetype');
}

.Inter {
  font-family: 'Inter';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, "Helvetica Neue", Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.w-60 {
  width: 60px;
}

.w-100 {
  width: 100px;
}

.w-300 {
  width: 300px;
}

.w-500 {
  width: 500px;
}

.w-700 {
  width: 700px;
}

.m-auto {
  margin: auto;
}

.d-block {
  display: block;
}

.m-b-30px {
  margin-bottom: 30px;
}

.strong-text {
  color: #051E48;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
}

.default-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #051E48B2;
}

.tiny-text {
  font-size: 12px;
  letter-spacing: 0em;
  color: rgba(5, 30, 72, 0.7);
}

.label-text {
  color: #50627f;
  font-size: 12px;
  font-weight: 300;
}

.value-text {
  color: #051e48;
  font-size: 12px;
  font-weight: 600;
}

.divider {
  margin-left: 30px;
  width: calc(100% - 30px);
  background-color: rgba(5, 30, 72, 0.2);
  height: 1px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.density-settings-3 {
  @include mat.all-component-densities(-3);
  @include mat.button-density(-1);
}


.btn-wide {
  width: 200px;
}

.center-spinner {
  top: calc(40vh - 50px);
}

.ui-section {
  border: 1px solid darkgrey;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 12px;
  color: rgba(5, 30, 72, 0.7);
  transition: all 500ms ease;
  transition-property: background-color, box-shadow;
  background-color: #ffffff;
  width: 700px;
  max-width: 700px;
}

.ui-section-small {
  border: 1px solid darkgrey;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 12px;
  color: rgba(5, 30, 72, 0.7);
  transition: all 500ms ease;
  transition-property: background-color, box-shadow;
  background-color: #ffffff;
  width: 400px;
  max-width: 400px;
}


.opacity-40 {
  opacity: 0.4;
}

.no-overflow-modal {
  .mat-mdc-dialog-surface.mdc-dialog__surface {
    overflow: hidden;
  }
}
